* {
    margin: 0;
}
.caixa {
    color: white;
    display:inline-block;
    text-align:center;
    vertical-align: top;
    line-height: 50px;
   
  }
  .width-and-height {
    height: 50px;
    width: 50px;
  }

  .padding {
    padding: 20px;
  }

  .margin {
    margin: 30px;
  }

  .border {
    border: 5px solid red;
  }